script(src="https://kit.fontawesome.com/17c0fad60d.js" crossorigin="anonymous")
link(rel="stylesheet", href="/style.css")

nav.navbar
  a.navbar__logo(href="/") Populo
  .navbar__bars 
    i(class="fas fa-bars")
  ul.navbar__menu 
    li 
      a.navbar__menu--links(href="/about") About
    li 
      a.navbar__menu--links(href="/contact") Contact
    li 
      a.navbar__menu--links#button(href="/register") Register