html
  head
    link(rel="stylesheet", href="/style.css")
    title Population Report Generator
    block head
  body
    .sidebar
      h1 Populo
      ul
        li(class= currentRoute === '/population' ? 'active' : '')
            a(href="/") Population Info
        li(class= currentRoute === '/countries' ? 'active' : '')
            a(href="/countries") Country Report
        li(class= currentRoute === '/cities' ? 'active' : '')
            a(href="/cities") City Report
        li(class= currentRoute === '/capitals' ? 'active' : '')
            a(href="/capitals") Capital City Report
        li(class= currentRoute === '/urbanRural' ? 'active' : '')
            a(href="/urbanRural") Urban/Rural Report
        li(class= currentRoute === '/languages' ? 'active' : '') 
            a(href="/languages") Language Report
        li(class= currentRoute === '/updateCountry' ? 'active' : '') 
            a(href="/updateCountry") Update Country
      .logout-button
        a(href="/logout") Logout
    .layout-content
      block content
