extends layout.pug

block content
 .population
  each row in rows
    - const population = new Intl.NumberFormat().format(row.population);
    h1 
      | The population of #{row.string} is 
      br
      | #{population} 
